@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Inter:wght@400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

header{
    background-image: url('../img/design1_image1.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
    top: 5rem;
}
header h1{
    font-size: 4rem;
    font-weight: 600;
    font-style: italic;
    transform: translateY(-4.5rem);
    -webkit-transform: translateY(-4.5rem);
    -moz-transform: translateY(-4.5rem);
    -ms-transform: translateY(-4.5rem);
    -o-transform: translateY(-4.5rem);
}
header h2{
    position: absolute;
    bottom: 0rem;
    background-color: #fff;
    width: 100%;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    padding: 10px 0;
    height: 3rem;
}
header h2 span{
    display: none;
}
header .logo{
    position: absolute;
    left: 4rem;
    top: 28rem;
    background-color: #ccc;
    border: 1px solid #000;
    z-index: 100;
}
nav{
    position: absolute;
    width: 340vw;
    height: 300px;
    top: -1.5rem;
    right: 3rem;
    text-align: right;
}
ul li {
    list-style: none;
}
nav ul{
    margin: 30px 0 0 30px;    
}
nav ul li{
    margin-top: 60px;
    display: inline-block;
}
nav ul li span{
    display: none;
}    
nav ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 3px;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: rgb(82, 60, 207);
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 1px 0px rgb(80, 78, 78);
}
nav ul li a.active{
    background-color: rgb(21, 136, 11);
}
main{
    padding-left: 300px;
    padding-top: 120px;
}
main ul li{
    margin-bottom: 30px;
    width: 50%;
}
main ul h3{
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}
main ul li p{
    padding-left: 1rem;
    font-size: 1.5rem;
}
main figure{
    position: absolute;
    width: 20vw;
    border: 1px solid #000;
    right: 10vw;
    top: 35rem;
}
main figure img{
    width: 100%;
    padding: 10px;
    object-fit: cover;
}
main p{
    padding: 0px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}
main article{
    width: 50%;
}
main article p{
    text-indent: 1.8rem;
}